<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", false)
    <script src="~/lib/htmx/dist/htmx.min.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="container-fluid" role="navigation" data-breakpoint="md">
        <ul>
            <li>
                <a asp-area="" asp-page="/Index">
                    <img src="/img/logo-text.svg" alt="TextBooker" style="height: 2.25rem; vertical-align: baseline;">
                </a>
            </li>
            <li>
                <a asp-area="" asp-page="/Index" aria-label="Strona główna" title="Strona główna">
                    <svg icon="home" variant="solid" aria-hidden="true" style="vertical-align: -0.2em; width: auto;"></svg>
                </a>
            </li>
        </ul>
        @* <ul> *@
        @*     <li> *@
        @*         <a role="button" class="outline" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a> *@
        @*     </li> *@
        @*     <li> *@
        @*         <a role="button" class="outline" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a> *@
        @*     </li> *@
           
        @* </ul> *@
        @await Html.PartialAsync("_LoginPartial")
    </nav>

    <main class="container">
        @RenderBody()
    </main>

    <button class="float-right"
            style="position: fixed; bottom: 1rem; right: 1rem; z-index: 1000;"
            data-target="modal-example"
            onclick="openModal(this.dataset.target)">
        <svg icon="help" variant="outline" aria-hidden="true"></svg>
    </button>

    <dialog id="modal-example">
        <article>
            <header>
                <button aria-label="Close" rel="prev" onclick="closeModal(this.closest('dialog').id)"></button>
                <h5>Potrzebujesz pomocy? Skontaktuj się z nami! 💬</h5>
            </header>
            <p>
                Możemy pomóc na przykład w następujących przypadkach:
                <ul>
                    <li>Problemy z kontem, błędy lub pytania dotyczące działania aplikacji.</li>
                    <li>Chcesz zgłosić nieodpowiednie treści zamieszczone w aplikacji.</li>
                    <li>Propozycje i sugestie (wypełnij formularz feedback).</li>
                </ul>
                Bądź na bieżąco! Obserwuj nas w social mediach.
            </p>
            <footer>
                <div class="grid one-col" style="grid-template-columns: 1fr;">
                    <a href="https://www.facebook.com/profile.php?id=61578317232992" target="_blank" role="button" class="outline contrast">
                        <svg icon="brand-facebook" variant="outline" aria-hidden="true"></svg>
                        Facebook
                    </a>
                    <a href="https://www.instagram.com/textbooker.pl/" target="_blank" role="button" class="outline contrast" style="margin-left: 0;">
                        <svg icon="brand-instagram" variant="outline" aria-hidden="true"></svg>
                        Instagram
                    </a>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWQrj0IlDS8a8y03Sy-_TFvcDP1FMCwWtoRbZxdKskqCgoxQ/viewform" target="_blank" role="button" class="contrast" style="margin-left: 0;">
                        Formularz feedback
                    </a>
                    <a href="mailto:support@textbooker.pl" role="button" style="margin-left: 0;">
                        Kontakt: support@textbooker.pl
                    </a>
                </div>
            </footer>
        </article>
    </dialog>

    <footer class="container">  
    </footer>

    <script src="~/js/validation/aspnet-validation.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>