<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", false)
    <script src="~/lib/htmx/dist/htmx.min.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <strong>
                    <a asp-area="" asp-page="/Index">Booker</a>
                </strong>
            </li>
        </ul>
        <ul>
            <li>
                <a asp-area="" asp-page="/Index">Strona główna</a>
            </li>
            <li>
                <a role="button" class="outline" href="#">Zaloguj się</a>
            </li>
           
        </ul>
    </nav>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="container">  
    </footer>


    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>