<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", false)
    <script src="~/lib/htmx/dist/htmx.min.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li>
                <strong>
                    <a asp-area="" asp-page="/Index">Booker</a>
                </strong>
            </li>
            <li>
                <a asp-area="" asp-page="/Index">🏠</a>
            </li>
            <li>
                <a asp-area="" asp-page="/BookAdding">➕Dodaj ogłoszenie</a>
            </li>
        </ul>
        @* <ul> *@
        @*     <li> *@
        @*         <a role="button" class="outline" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a> *@
        @*     </li> *@
        @*     <li> *@
        @*         <a role="button" class="outline" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a> *@
        @*     </li> *@
           
        @* </ul> *@
        @await Html.PartialAsync("_LoginPartial")
    </nav>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="container">  
    </footer>


    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>