@using Microsoft.AspNetCore.Identity
@using Booker.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<input type="checkbox" id="hamburger-btn">
<label for="hamburger-btn" aria-label="Menu"
       aria-controls="hamburger">
    <svg icon="menu-2" aria-hidden="true"></svg>
</label>
<ul role="list" id="hamburger">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <details class="dropdown">
                <summary role="button" class="outline" style="border-color: transparent;">Witaj @UserManager.GetUserName(User)!</summary>
                <ul>
                    <li><a asp-area="" asp-page="/Profile/Index">Profil</a></li>
                    <li><a asp-area="" asp-page="/Profile/Favorites">Ulubione</a></li>
                    <li><a href="#">Wiadomości</a></li>
                    <li><a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index">Ustawienia</a></li>
                    <li>
                        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                            <button id="logout">Wyloguj</button>
                        </form>
                    </li>
                </ul>
        </details>
    </li>
    <li>
            <a role="button" asp-area="" asp-page="/Add" style="margin-top: 0;">
            <svg icon="plus" aria-hidden="true" style="vertical-align: -0.4em;"></svg>
            <span>Dodaj ogłoszenie</span>
        </a>
    </li>
}
else
{
    <li>
        <a id="register" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
    </li>
    <li>
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
    </li>
}
</ul>
