@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Reset hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Na Twoją skrzynkę e-mail została wysłana wiadomość z linkiem do zmiany hasła😉.
</p>
