@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Wyślij ponownie e-mail z linkiem aktywacyjnym";
}

<h1>@ViewData["Title"]</h1>
<section class="login-form">
    <form method="post">
        <h2>Podaj swój e-mail:</h2>
        <hr />
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <div>
            <label asp-for="Input.Email">E-mail:</label>
            <input asp-for="Input.Email" required placeholder="E-mail" />
            <small><span asp-validation-for="Input.Email"></span></small>
        </div>
        <button type="submit">Wyślij ponownie</button>
    </form>
</section>
