@model ItemGalleryViewComponent.ItemsListModel

@if (Model.Items.Count == 0)
{
    <p>Brak wyników...</p>
}
else
{
    @foreach (var item in Model.Items)
    {
        @await Html.PartialAsync("_BookTile", new ItemGalleryViewComponent.ItemModel(item,Model.Params))

        @if (item == Model.Items.Last() && Model.HasMorePages)
        {
            <div hx-get=""
                 hx-trigger="revealed"
                 hx-swap="outerHTML"
                 hx-indicator="#ind"
                 hx-include=".filter > form"
                 hx-vals='{"pageNumber" : @(Model.PageNumber + 1)}'>
            </div>
        }
    }
}
