#add-form {
    .books-image-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px 150px;
        gap: 10px;
        max-width: 800px;
        margin-right: 20px;

        &__top {
            grid-column: 1 / 4;
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 10px;
        }

        &__main {
            position: relative;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
            }

            span {
                position: absolute;
                bottom: 6%;
                left: 6%;
                background-color: rgba(15, 15, 15, 0.8);
                color: white;
                font-size: 12px;
                padding: 4px 6px;
                border-radius: 4px;
            }
        }

        &__side {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
        }

        &__bottom {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            height: 150px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
                display: block;
            }
        }
    }

    .book-image-preview {
        max-width: 100%;
        display: none;

        &.active {
            display: block;
        }
    }
}

#summaryModal {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        display: block;
    }

    border: 1px solid;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
