#add-form {
    .image-preview-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        gap: 10px;
        max-width: 800px;
        margin: 1rem 0;
        position: relative;

        .book-image-preview {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;

            &.main {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }

    .image-label--dynamic {
        position: absolute; 
        background-color: rgba(15, 15, 15, 0.8);
        color: white;
        font-size: 12px;
        padding: 4px 6px;
        border-radius: 4px;
        z-index: 10;
    }
}

#summaryModal {
    img {
        width: 100%;
        height: auto;
        max-height: 300px;
        object-fit: cover;
        border-radius: 6px;
        display: block;
    }

    border: 1px solid;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
