#edit-form {
    .image-preview-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        gap: 10px;
        max-width: 800px;
        margin: 0 auto;
        position: relative;

        .book-image-preview {
            width: 100%;
            height: 100%;
            object-fit: contain;
            background-color: var(--pico-background-color);
            border-radius: 6px;
            border: 1px solid var(--pico-muted-border-color);
            aspect-ratio: 3 / 4;

            &.main {
                grid-column: span 2;
                grid-row: span 2;
            }
        }

        .image-label--dynamic {
            position: absolute;
            background-color: rgba(15, 15, 15, 0.8);
            color: white;
            font-size: 12px;
            padding: 4px 6px;
            border-radius: 4px;
            z-index: 10;
        }
    }

    .upload-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label, input, select, textarea, button {
            width: 100%;
        }

        textarea {
            resize: vertical;
        }

        .grid {
            display: flex;
            gap: 1rem;
        }
    }
}
