@use "pico";

@use "sass:map";

.profile-heading {
    display: flex;

    img {
        //flex-shrink: 0;
        max-width: 25%;
        max-height: 5lh;
        aspect-ratio: 1 / 1;
        margin-block: 0.5em;
        margin-right: 1em;
        border-radius: 100%;
    }

    hgroup {
        flex: 1;
    }

    a[role=button] {
        align-self: start;

        @media (max-width: map.get(map.get(pico.$breakpoints, "sm"), "viewport")) {
            display: none;
        }
    }
}

.contact-details {
    display: flex;
    flex-wrap: wrap;

    p {
        padding: var(--pico-spacing);
        margin-bottom: 0;
    }
}