@using Profile

<ul>
    <li><a aria-current="@ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Ogłoszenia</a></li>
    <li><a aria-current="@ManageNavPages.FavoritesNavClass(ViewContext)" id="favorites" asp-page="./Favorites">Ulubione</a></li>
</ul>