@page
@* Custom routes defined in StartupUtilities *@
@model Booker.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "Profil użytkownika " + @Model.UserInfo.RequestUser.UserName;
}

<partial name="_Heading" for="UserInfo" />

<h2>Ogłoszenia</h2>
<section class="grid-gallery">
    <vc:item-gallery item-ids="@Model.ItemIds" parameters="@Model.Params" show-hidden="@Model.UserInfo.IsCurrentUser" />
</section>

<section>
    <div aria-busy="true" class="htmx-indicator" id="ind"></div>
</section>