@page "{id:int?}"
@model Booker.Pages.Profile.IndexModel
@{
    ViewData["Title"] = "Profil";
}

<partial name="_Heading" for="UserInfo" />

<h2>Ogłoszenia</h2>
<section class="grid-gallery">
    <partial name="_ItemGallery" for="ItemsList" />
</section>

<section>
    <div aria-busy="true" class="htmx-indicator" id="ind"></div>
</section>