@model Booker.Pages.IndexModel.PagedListViewModel

@if (Model == null || Model.Items == null || Model.Items.Count == 0)
{
    <p>Brak wyników...</p>
}
else
{
    @foreach (var item in Model.Items)
    {
        @await Html.PartialAsync("_BookTile", item)
        @if (item == Model.Items.Last() && Model.HasMorePages)
        {
            <div hx-get="@Url.Page("Index", "More", new { pageNumber = Model.Page + 1 })"
                 hx-trigger="revealed"
                 hx-swap="outerHTML"
                 hx-indicator="#ind"
                 hx-include="[name='search'], [name='grade'], [name='subject'], [name='minPrice'], [name='maxPrice'], [name='level']">
            </div>
        }
    }
}