@page
@model ErrorModel
@{
    ViewData["Title"] = "Błąd";
}

<hgroup>
    <h1>Błąd.</h1>
    <h2>Wystąpił błąd podczas przetwarzania żądania.</h2>
</hgroup>


@if (Model.ShowRequestId)
{
    <p>
        <strong>Identyfikator żądania:</strong> <code>@Model.RequestId</code>
    </p>
}

@* TODO: add a contact email or other details *@