@page
@model IndexModel
@{
    ViewData["Title"] = "Booker";
}

<section class="filter">
    <form novalidate
        hx-get="/" 
        hx-trigger="submit, input changed delay:500ms, change" 
        hx-target=".grid-gallery" 
        hx-push-url="true" 
        hx-vals='{"pageNumber": 0}'
    >
        <input type="search" asp-for="Input.Search" placeholder="Wyszukaj..."/>

        <details id="filterDetails">
            <summary id="filterSummary">
                <svg>
                    <use href="img/icons.svg#si-awesome-sliders" />
                </svg>
                Filtry
            </summary>

            <div class="grid">
                <select asp-for="Input.Grade" asp-items="Model?.Grades">
                    <option value="">Wszystkie klasy</option>
                </select>

                <select asp-for="Input.Subject" asp-items="Model?.Subjects">
                    <option value="">Wszystkie przedmioty</option>
                </select>

                <select asp-for="Input.Level" asp-items="Model?.Levels">
                    <option value="">Wszystkie poziomy</option>
                </select>

                <input asp-for="Input.MinPrice" placeholder="Cena min."/>
                <input asp-for="Input.MaxPrice" placeholder="Cena max."/>
                <button type="button" id="mobileFilterSubmit">Zatwierdź filtry</button>
            </div>
        </details>
    </form>
</section>

<section class="grid-gallery">
    @await Html.PartialAsync("_ItemGallery", Model.ItemsList)
</section>

<section>
    <div aria-busy="true" class="htmx-indicator" id="ind"></div>
</section>

<script>
    function setFilter(name, value, enable) {
        const elem = document.querySelector(`[name="${name}"]`);
        if (elem) {
            elem.value = enable ? value : "";
            elem.form.requestSubmit();
        }
        
    }

    htmx.onLoad(function(content) {
        content.querySelectorAll('button.subject, button.grade, button.level').forEach(button => {
            button.addEventListener('click', function() {
                const name = this.classList.contains('subject') ? 'subject' : this.classList.contains('grade') ? 'grade' : 'level';
                const value = name === 'grade' ? this.textContent.trim().slice(6,7) : this.textContent.trim();
                this.classList.toggle('outline');
                setFilter(name, value, !this.classList.contains('outline'));
            });
        });
    });

    document.getElementById('mobileFilterSubmit').addEventListener('click', function() {
        document.getElementById('filterDetails').removeAttribute("open");
    });
</script>