@page
@model IndexModel
@{
    ViewData["Title"] = "Booker";
}

<section class="filter">
    <form novalidate
        hx-get="/" 
        hx-trigger="submit, input changed delay:500ms, change" 
        hx-target=".grid-gallery" 
        hx-push-url="true" 
        hx-vals='{"pageNumber": 0}'
    >
        <input type="search" name="search" asp-for="Input.Search" placeholder="Wyszukaj..." data-val="false" />

        <details id="filterDetails">
            <summary id="filterSummary">
                <svg icon="adjustments-horizontal" aria-hidden="true" style="vertical-align: -0.15em;"></svg>
                Filtry
            </summary>

            <div class="grid">
                <select name="grade" asp-for="Input.Grade" asp-items="Model?.Grades" data-val="false">
                    <option value="">Wszystkie klasy</option>
                </select>

                <select name="subject" asp-for="Input.Subject" asp-items="Model?.Subjects" data-val="false">
                    <option value="">Wszystkie przedmioty</option>
                </select>

                <select name="level" asp-for="Input.Level" asp-items="Model?.Levels">
                    <option value="">Wszystkie poziomy</option>
                </select>

                <input type="number" name="minPrice" asp-for="Input.MinPrice" placeholder="Cena min." data-val="false" />
                <input type="number" name="maxPrice" asp-for="Input.MaxPrice" placeholder="Cena max." data-val="false" />
                <button type="button" id="mobileFilterSubmit">Zatwierdź filtry</button>
            </div>
        </details>
    </form>
</section>

<section class="grid-gallery">
    <partial name="_ItemGallery" for="ItemsList" />
</section>

<section>
    <div aria-busy="true" class="htmx-indicator" id="ind"></div>
</section>

<script>
    function setFilter(name, value, enable) {
        const elem = document.querySelector(`[name="${name}"]`);
        if (elem) {
            elem.value = enable ? value : "";
            elem.form.requestSubmit();
        }
        
    }

    htmx.onLoad(function(content) {
        content.querySelectorAll('button.subject, button.grade, button.level').forEach(button => {
            button.addEventListener('click', function() {
                const name = this.classList.contains('subject') ? 'subject' : this.classList.contains('grade') ? 'grade' : 'level';
                const value = name === 'grade' ? this.textContent.trim().slice(6,7) : this.textContent.trim();
                this.classList.toggle('outline');
                setFilter(name, value, !this.classList.contains('outline'));
            });
        });
    });

    document.getElementById('mobileFilterSubmit').addEventListener('click', function() {
        document.getElementById('filterDetails').removeAttribute("open");
    });
</script>