<ul>
    <li><a aria-current="@AdminNavPages.IndexNavClass(ViewContext)" id="summary" asp-page="./Index">Podsumowanie</a></li>
    <li><a aria-current="@AdminNavPages.UsersNavClass(ViewContext)" id="users" asp-page="./Users">Użytkownicy</a></li>
</ul>
