<ul>
    <li><a aria-current="@AdminNavPages.IndexNavClass(ViewContext)" id="summary" asp-page="./Index">Podsumowanie</a></li>
    <li><a aria-current="@AdminNavPages.UsersNavClass(ViewContext)" id="users" asp-page="./Users">Użytkownicy</a></li>
    <li><a aria-current="@AdminNavPages.AdminsNavClass(ViewContext)" id="admins" asp-page="./Admins">Administratorzy</a></li>
    <li><a aria-current="@AdminNavPages.SchoolsNavClass(ViewContext)" id="schools" asp-page="./Schools">Szkoły</a></li>
</ul>
