@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Zmień hasło";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="login-form">
    <form id="change-password-form" method="post">
        <h3>@ViewData["Title"]</h3>
        @if (!String.IsNullOrEmpty(Model.StatusMessage))
        {
            <p>
                @Model.StatusMessage
            </p>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div>
            <label asp-for="Input.OldPassword">Obecne hasło:</label>
            <input asp-for="Input.OldPassword" autocomplete="current-password" required placeholder="Obecne hasło" />
            <small><span asp-validation-for="Input.OldPassword"></span></small>
        </div>
        <div>
            <label asp-for="Input.NewPassword">Nowe hasło:</label>
            <input asp-for="Input.NewPassword" autocomplete="new-password" required placeholder="Nowe hasło" />
            <small><span asp-validation-for="Input.NewPassword"></span></small>
        </div>
        <div>
            <label asp-for="Input.ConfirmPassword">Potwierdź nowe hasło:</label>
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" required placeholder="Potwierdź nowe hasło"/>
            <small><span asp-validation-for="Input.ConfirmPassword"></span></small>
        </div>
        <button type="submit">Zaktualizuj hasło</button>
    </form>
</div>
