@page
@model IndexModel
@{
    ViewData["Title"] = "Ustawienia profilu";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="login-form">
    <form id="profile-form" method="post">
        <h3>@ViewData["Title"]</h3>
        @if (!String.IsNullOrEmpty(Model.StatusMessage))
        {
            <p>
                @Model.StatusMessage
            </p>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div>
            <label asp-for="Username">Nazwa użytkownika</label>
            <input asp-for="Username" placeholder="Nazwa użytkownika" disabled />
        </div>
        <div>
            <label asp-for="Input.PhoneNumber">Numer telefonu:</label>
            <input asp-for="Input.PhoneNumber" placeholder="Numer telefonu"/>
            <small><span asp-validation-for="Input.PhoneNumber"></span></small>
        </div>
        <button id="update-profile-button" type="submit">Zapisz</button>
    </form>
</div>

