<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        
    </div>
</div>  
    <nav class="nav flex-column" aria-label="Primary">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Chat" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chat
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Chat/Threads">
                <span class="bi bi-cloud-sun-fill-nav-menu" aria-hidden="true"></span> Lista wątków
            </NavLink>           
        </div>    
    </nav>


@code {
   
}

