// Theming
@use "themes/default";

// Content
@use "content/button"; // button, role="button", type="button", type="submit" ...

// Forms
@use "forms/basics"; // input, select, textarea, label, fieldset, legend