@use "sass:map";
@use "settings" as *;

@if map.get($modules, "content/button") {
  @if $enable-classes {
    // Danger
    #{$parent-selector} :is(button, [type="submit"], [type="button"], [role="button"]).danger {
      #{$css-var-prefix}background-color: var(#{$css-var-prefix}danger-background);
      #{$css-var-prefix}border-color: var(#{$css-var-prefix}danger-border);
      #{$css-var-prefix}color: var(#{$css-var-prefix}danger-inverse);

      &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
        #{$css-var-prefix}background-color: var(#{$css-var-prefix}danger-hover-background);
        #{$css-var-prefix}border-color: var(#{$css-var-prefix}danger-hover-border);
        #{$css-var-prefix}color: var(#{$css-var-prefix}danger-inverse);
      }

      &:focus,
      &:is([aria-current]:not([aria-current="false"])):focus {
        #{$css-var-prefix}box-shadow:
          var(#{$css-var-prefix}button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
          0 0 0 var(#{$css-var-prefix}outline-width) var(#{$css-var-prefix}danger-focus);
      }
    }

    // Outline (secondary)
    #{$parent-selector}
      :is(button, [type="submit"], [type="button"], [role="button"]).outline.danger {
      #{$css-var-prefix}color: var(#{$css-var-prefix}danger);
      #{$css-var-prefix}border-color: var(#{$css-var-prefix}danger);

      &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
        #{$css-var-prefix}color: var(#{$css-var-prefix}danger-hover);
        #{$css-var-prefix}border-color: var(#{$css-var-prefix}danger-hover);
      }
    }
  }
}